# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Environments
.venv/
venv/
ENV/

# Tools
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/
